<div id="<%= dom_id movie %>">
  <p>
    <strong>Name movie:</strong>
    <%= movie.name_movie %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.director %>
  </p>

  <p>
    <strong>Actors:</strong>
    <%= movie.actors %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= movie.genre %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= movie.duration %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= movie.language %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </p>

  <p>
    <strong>Introduction:</strong>
    <%= movie.introduction %>
  </p>

</div>
