<%= form_with(model: movie_detail) do |form| %>
<% if movie_detail.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(movie_detail.errors.count, "error") %> prohibited this movie_detail from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% movie_detail.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :director, class: label_class %>
          <%= form.text_field :director, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :actors, class: label_class %>
          <%= form.text_field :actors, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :genre, class: label_class %>
          <%= form.text_field :genre, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :duration, class: label_class %>
          <%= form.text_field :duration, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :language, class: label_class %>
          <%= form.text_field :language, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :release_date, class: label_class %>
          <%= form.date_field :release_date, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :introduction, class: label_class %>
          <%= form.text_field :introduction, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if movie_detail.persisted? %>
<%= link_to "Cancel", movie_detail, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", movie_details_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
