<div id="<%= dom_id movie_detail %>">
  <p>
    <strong>Name movie:</strong>
    <%= movie_detail.name_movie %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie_detail.director %>
  </p>

  <p>
    <strong>Actors:</strong>
    <%= movie_detail.actors %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= movie_detail.genre %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= movie_detail.duration %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= movie_detail.language %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= movie_detail.release_date %>
  </p>

  <p>
    <strong>Introduction:</strong>
    <%= movie_detail.introduction %>
  </p>

</div>
