<div id="<%= dom_id booking %>">
  <p>
    <strong>Ticket number:</strong>
    <%= booking.ticket_number %>
  </p>

  <p>
    <strong>Seattype:</strong>
    <%= booking.seattype %>
  </p>

  <p>
    <strong>Screentype:</strong>
    <%= booking.screentype %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= booking.position %>
  </p>

  <p>
    <strong>Add scalding combo:</strong>
    <%= booking.add_scalding_combo %>
  </p>

</div>
