<div id="<%= dom_id booking %>">
  <p>
    <strong>Id customer:</strong>
    <%= booking.id_customer %>
  </p>

  <p>
    <strong>Name movie:</strong>
    <%= booking.name_movie %>
  </p>

  <p>
    <strong>Name cinemas:</strong>
    <%= booking.name_cinemas %>
  </p>

  <p>
    <strong>Showtime:</strong>
    <%= booking.showtime %>
  </p>

  <p>
    <strong>Screen type:</strong>
    <%= booking.screen_type %>
  </p>

  <p>
    <strong>Seat type:</strong>
    <%= booking.seat_type %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= booking.position %>
  </p>

  <p>
    <strong>Ticket number:</strong>
    <%= booking.ticket_number %>
  </p>

  <p>
    <strong>Add popcorn combo:</strong>
    <%= booking.add_popcorn_combo %>
  </p>

  <p>
    <strong>Price ticket:</strong>
    <%= booking.price_ticket %>
  </p>

</div>
