<div id="<%= dom_id customer %>">
  <p>
    <strong>Id customer:</strong>
    <%= customer.id_customer %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= customer.mobile %>
  </p>

  <p>
    <strong>Gmail:</strong>
    <%= customer.gmail %>
  </p>

</div>
