<div id="<%= dom_id ticket %>">
  <p>
    <strong>Name movie:</strong>
    <%= ticket.name_movie %>
  </p>

  <p>
    <strong>Showtime:</strong>
    <%= ticket.showtime %>
  </p>

  <p>
    <strong>Screen:</strong>
    <%= ticket.screen %>
  </p>

  <p>
    <strong>Name cinemas:</strong>
    <%= ticket.name_cinemas %>
  </p>

  <p>
    <strong>Price ticket:</strong>
    <%= ticket.price_ticket %>
  </p>

  <p>
    <strong>Seat:</strong>
    <%= ticket.seat %>
  </p>

</div>
