<div id="<%= dom_id booking_ticket %>">
  <p>
    <strong>Ticket number:</strong>
    <%= booking_ticket.ticket_number %>
  </p>

  <p>
    <strong>Seat type:</strong>
    <%= booking_ticket.seat_type %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= booking_ticket.position %>
  </p>

  <p>
    <strong>Add popcorn combo:</strong>
    <%= booking_ticket.add_popcorn_combo %>
  </p>

  <p>
    <strong>Screen type:</strong>
    <%= booking_ticket.screen_type %>
  </p>

</div>
