<div id="<%= dom_id payment %>">
  <p>
    <strong>Name movie:</strong>
    <%= payment.name_movie %>
  </p>

  <p>
    <strong>Name customer:</strong>
    <%= payment.name_customer %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= payment.mobile %>
  </p>

  <p>
    <strong>Gmail:</strong>
    <%= payment.gmail %>
  </p>

  <p>
    <strong>Total cost:</strong>
    <%= payment.total_cost %>
  </p>

  <p>
    <strong>Add voucher:</strong>
    <%= payment.add_voucher %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= payment.payment_method %>
  </p>

  <p>
    <strong>Payment time:</strong>
    <%= payment.payment_time %>
  </p>

</div>
